layout {
    tab name="</>" hide_floating_panes=true {
        pane size="50%"
        pane size="50%"
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
    tab name="AI" hide_floating_panes=true {
        pane
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
    new_tab_template {
        pane
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
}
